<h2 class="poppins" mat-dialog-title>How to use <i class="fas fa-shoe-prints"></i></h2>
<mat-dialog-content class="poppins">Take a sudoku problem and enter the numbers in the non-empty squares in the
    corresponding cell.<br>
    Hit Solve! <br>
    This web app uses recursion and backtracking to find a solution for your sudoku puzzle.<div class="py-2"><img
        src="../../../assets/sample_sudoku.jpg" width="150px" height="150px"></div>
    A sample sudoku question is shown above.<br>
    If you have no idea about sudoku. Click <a href="https://en.wikipedia.org/wiki/Sudoku" target="_blank">here</a>.
</mat-dialog-content>
<mat-dialog-actions>
    <button class="poppins" mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>