<mat-toolbar class="poppins d-flex justify-content-between mb-5" color="{{ navbarColor }}">
    <span>{{ title }}<span class="outline font-weight-bold small jura p-2 mx-2" (click)="changeBtnText()">{{madeBy}}</span></span>
    <mat-slide-toggle [(ngModel)]="isNavbarAccent" (click)="toggleNavbarColor()" color="primary">
        <i class="fas fa-paint-roller pl-3"></i>
    </mat-slide-toggle>
</mat-toolbar>
<div class="container">
    <app-solver theme={{navbarColor}} resetColor="{{navbarColor=='accent'?'warn':''}}"></app-solver>
</div>
