<form (ngSubmit)="onSubmit(sudoku)" #sudoku>
    <table *ngIf="theme == 'accent'" class="mx-auto">
        <tr *ngFor="let list of grid;let i=index">
            <td *ngFor="let eachNum of list;let j=index" >
                <input name="box" type="number" [maxLength]="1" min="0" max="9" value={{eachNum}} required class="border" [ngClass]="{'cell-info': i < 3  && j < 3 || i >= 6 && i < 9 && j < 3 || i >= 3 && i < 6 && j >=3 && j < 6 || i >=6 && i < 9 && j >= 6 && j < 9 || i < 3 && j >= 6 && j < 9, 'cell-warn': i >= 3 && i < 6 && j < 3 || i < 3 && j >= 3 && j < 6 || i >= 3 && i < 6 && j >=6 && j < 9 || i >= 6 && j >= 3 && j < 6, 'user-input-white': inputIndex.has(i+','+j), 'glow': i == currentRow && j == currentCol}">
            </td>
        </tr>
    </table>
    <table *ngIf="theme == 'primary'" class="mx-auto">
        <tr *ngFor="let list of grid;let i=index">
            <td *ngFor="let eachNum of list;let j=index">
                <input name="box" type="number" [maxLength]="1" min="0" max="9" value={{eachNum}} required class="border" [ngClass]="{'cell-purple': i < 3  && j < 3 || i >= 6 && i < 9 && j < 3 || i >= 3 && i < 6 && j >=3 && j < 6 || i >=6 && i < 9 && j >= 6 && j < 9 || i < 3 && j >= 6 && j < 9, 'cell-light': i >= 3 && i < 6 && j < 3 || i < 3 && j >= 3 && j < 6 || i >= 3 && i < 6 && j >=6 && j < 9 || i >= 6 && j >= 3 && j < 6, 'user-input-red': inputIndex.has(i+','+j), 'glow': i == currentRow && j == currentCol}">
            </td>
        </tr>
    </table>
    <div class="d-flex align-items-center justify-content-center">
        <button mat-raised-button class="my-2 mr-2 poppins" color="{{theme}}" type="submit" [disabled]="!isSolveEnabled" *ngIf="!skipToEnd">Solve</button>
        <button mat-raised-button (click)="skip()" class="my-2 mr-2 poppins" color="{{theme}}" *ngIf="skipToEnd">Skip to end</button>
        <button mat-raised-button class="my-2 mx-2 poppins" color={{resetColor}} (click)="onReset()" type="reset">Reset</button>
    </div>
    <div class="d-flex align-items-center justify-content-center poppins my-1">
        <div>
            <mat-checkbox class="poppins" [(ngModel)]="seeSteps" [ngModelOptions]="{standalone: true}" [disabled]="!isSolveEnabled" color="{{theme}}">See steps</mat-checkbox>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div>
            <p class="poppins"><a class="text-info" (click)="openHowToUseDialog()"><u>How to use.</u></a> Tip: Use Tab key to navigate between cells.</p>
        </div>
    </div>
</form>