.number-input {
    border: none;
    text-decoration: none;
    margin: 0;
    
}

a:hover{
    cursor: pointer;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.glow {
    color: black !important;
    background-color: #FFC107 !important;
}

.border{
    border: 0.24em solid !important;
}

input{
    outline: none;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

input.cell-info{
    background-color: #69F0AE;
}

input.cell-warn{
    background-color: #F44336;
}

input.cell-purple{
    background-color: #9C27B0;
    color: white;
    border-color: black !important;
}

input.cell-light{
    background-color: #616161;
    color: white;
    border-color: black !important;
}

input.border-danger:focus{
    outline: none;
}

input.border-primary:focus{
    outline: none;
}

input.user-input-white{
    border-color: #fff !important;
    font-weight: bold;
}

input.user-input-red{
    border-color: #FF6037 !important;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width:280px)  { /* smartphones, iPhone, portrait 480x320 phones */
    input{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        font-size: 10px;
        width: 26px;
    }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    input{
        padding: 10px 0px 10px 10px;
        font-size: 1em;
        width: 35px;
    }
}

@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
    input{
        padding: 10px 0px 10px 15px;
        font-size: 1em;
        width: 50px;
    }
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    input{
        padding: 10px 0px 10px 20px;
        font-size: 1em;
        width: 71px;
    }
}

@media (min-width:720px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    input{
        padding: 10px 0px 10px 20px;
        font-size: 1em;
        width: 60px;
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    input{
        padding: 10px 0px 10px 20px;
        font-size: 1em;
        width: 106px;
    }
}

@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 
    input{
       width: 5em;
       padding: 10px 0px 10px 25px;
       font-size: 1em;
    }
}